*{
    margin : 0;
    padding : 0;
}
body{
    background-color: #b6cdbd;
}

.box{
    background-color: #5c715e;
    border: 2px solid #5c715e;
    border-radius: 30px;
    padding: 1rem 2rem;
   
}
.header{
    display: flex;
    align-items: center;
    margin: 30px auto;
    
}
button{
    border-radius: 30px;
    background-color:#b6cdbd;
    color: #5c715e;
    
}
button:hover{
    border-radius: 30px;
    background-color:  #5c715e;
    border: 1px solid #b6cdbd;
    color :rgb(224, 219, 219);
}
input:focus {
    outline: none;
    border: 2px solid #b6cdbd;
    border-radius: 50px;
    background-color:  #5c715e ;
    color:rgb(194, 190, 190);
}

input{
    border: none;
    background-color: #b6cdbd;
    padding: 1rem 2rem;
    border: 2px solid #b6cdbd;
    border-radius: 50px;
    color:#5c715e
}

input:hover{
    border: none;
    background-color:   #5c715e;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid #b6cdbd;
    border-radius: 50px;
    color: #b6cdbd;
   

}
li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #b6cdbd;
    background-color: #b6cdbd;
    margin: 10px auto;
    border-radius: 55px;
    padding: 10px 25px;
    color:#5c715e
}
li:hover{
    border: 2px solid #b6cdbd;
    background-color: #5c715e;
    color: #b6cdbd;
}